*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
    overflow-x: hidden;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}
.topbar{
  background-color: #212529;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  margin: 5px 0 10px -25px;
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}
.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #00d490 48%, #1f3244 48%);
    background: -webkit-linear-gradient(left, #00d490 48%, #1f3244 48%);
    background: linear-gradient(45deg, #00d490 48%, #1f3244 48%);
}
.section {
    position: relative;
    background-image: url('https://www.helpr.in/images/backgrounds/section-light-bg.png');
    background-position: bottom center;
    background-repeat: repeat-x;
}
.section-inverse-color {
    background-image: url('https://www.helpr.in/images/backgrounds/section-dark-bg.png');
    background-color: #222222;
    color: #5a5a5a;
}
.helpr-section {
    height: 100vh;
    background-image:url('https://github.com/muradkhasmammadov/game.github.io/blob/master/Game/contact.jpg?raw=true');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.helpr-text {
    height: 575px;
}
.webHomeTitle {
    display: block;
}
.home-service {
    width: 600px;
    margin: 40px auto 100px auto;
    position: relative;
    height: 65px;
}
.home-service p{
    font-size: 20px;
    color: #f7f7f7;
    font-family: sans-serif;
    text-align: center;
}
.wrapper-demo1 {
    width: 200px;
    float: left;
    position: relative;
    margin: 11px 0 0 15px;
}
.wrapper-dropdown-3 {
    position: absolute;
    width: 200px;
    margin: 0 auto;
    padding: 7px 10px 7px 30px;
    border: 1px solid #fff;
    border-right: 1px solid #e5e5e5;
    background: #fff;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    background: url(https://www.helpr.in/images/city-arw.png) no-repeat left 12px;
}
.helpr-title {
    padding: 190px 0 10px;
    font-size: 70px;
    line-height: 80px;
    -webkit-text-shadow: 0 4px 6px rgba(0,0,0,.20);
    -moz-text-shadow: 0 4px 6px rgba(0,0,0,.20);
    text-shadow: 0 4px 6px rgba(0,0,0,.20);
    font-family:'Kamala',cursive;
    text-align: center;
    color: #ffffff;
    margin: 0;
    position: relative;
}
.helpr-content {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
}
.wrapper-dropdown-2 span.active, .wrapper-dropdown-3 span.active {
    color: #5a5a5a;
}
@media (max-width: 3000px){
    .helpr-section, .cleaning-section, .pestcontrol-section, .electrical-section, .plumbing-section, .carpentry-section, .ac-section, .geyser-section, .about-section, .career-section, .confirm-section, .contact-section, .deepcleaning-section, .appliances-section, .vehiclecare-section, .subscr-section, .platinum-section, .homespa-section, .homeguard-section, .laundry-section, .painting-section {
        margin: 0 0 0 0;
    }
    .helpr-text {
        width: 100%;
        display: block !important;
    }
    .helpr-content {
        text-align: left;
    }
}
.wrapper-demo {
    width:370px;
	float:left;
	position:relative;
	margin:11px 0 0 0px;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

.wrapper-demo1 {
    width:200px;
	float:left;
	position:relative;
	margin:11px 0 0 15px;
	
	
}

.wrapper-demo1:after {
    clear: both;
    content: "";
    display: table;
}
/* DEMO 2 */

.wrapper-dropdown-2 {
    /* Size and position */
    position: absolute; /* Enable absolute positionning for children and pseudo elements */
    width: 370px;
    margin: 0 auto;
    padding: 7px 20px;
	border:1px solid #fff;
    /* Styles */
    background: #fff;
    cursor: pointer;
    outline: none;
	font-size:20px;
	
	
}
.wrapper-dropdown-3 {
    /* Size and position */
    position: absolute; /* Enable absolute positionning for children and pseudo elements */
    width: 200px;
    margin: 0 auto;
    padding: 7px 10px 7px 30px;
	border:1px solid #fff;
	border-right:1px solid #e5e5e5;
    /* Styles */
    background: #fff;
    cursor: pointer;
    outline: none;
	font-size:20px;
	background:url(../images/city-arw.png) no-repeat left 12px;
	
	
}
.wrapper-dropdown-2 span.active, .wrapper-dropdown-3 span.active{
	 color: #5a5a5a;
}
.wrapper-dropdown-2:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: 0px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}
.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: 0px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: grey transparent;
}

.wrapper-dropdown-2 .dropdown {
  /* Size & position */
    position: absolute;
    top: 110%;
    left: -216px;
    right: 0px;

    /* Styles */
    background: #fafafa;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
	margin:0;
	padding:0;
	z-index:99999;
	-webkit-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	-moz-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	z-index:999999 !important;
	width:600px;
	border-radius: 0px 0px 8px 8px;
}
.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 110%;
    left: -1px;
    right: 0px;

    /* Styles */
    background: #fafafa;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
	margin:0;
	padding:0;
	z-index:99999;
	-webkit-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	-moz-box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	box-shadow: 0 4px 8px rgba(2,2,2,0.14);
	z-index:999999 !important;
	
}

.wrapper-dropdown-2 .dropdown li{
	float:left;
	width:300px;
}
.wrapper-dropdown-2 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #5a5a5a;
    padding: 0px 50px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	font-size:18px;
	line-height:50px;
	border-bottom:1px solid #e6e6e6;
	margin:0 7px;
	z-index:999999 !important;
	width:80%;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #5a5a5a;
    padding: 0px 10px 0 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	font-size:18px;
	line-height:50px;
	border-bottom:1px solid #e6e6e6;
	margin:0 7px;
	z-index:999999 !important;
}


.wrapper-dropdown-2 .dropdown li i, .wrapper-dropdown-3 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-2 .dropdown li:hover a, .wrapper-dropdown-3 .dropdown li:hover a  {
    color: #00c6ff;
}

/* Active state */

.wrapper-dropdown-2.active:after, .wrapper-dropdown-3.active:after {
    border-width: 0 6px 6px 6px;
}

.wrapper-dropdown-2.active .dropdown,.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-2 .dropdown,
.no-pointerevents .wrapper-dropdown-2 .dropdown,.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropdown-2.active .dropdown,
.no-pointerevents .wrapper-dropdown-2.active .dropdown,.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;
}
.icon-menu{
	background-repeat:no-repeat;
	background-size:30px 30px;
	background-position:10px center;
}
.icon-1{
	background-image:url(https://www.helpr.in/images/cleaning.png);
}
.icon-2{
	background-image:url(https://www.helpr.in/images/pest.png);
}
.icon-3{
	background-image:url(https://www.helpr.in/images/electrical.png);
}

.icon-4{
	background-image:url(https://www.helpr.in/images/plumbing.png);
}
.icon-6{
	background-image:url(https://www.helpr.in/images/carpentry.png);
}

.icon-5{
	background-image:url(https://www.helpr.in/images/appliances.png);
}

.icon-17{
	background-image:url(https://www.helpr.in/images/geyser.png);
}

.icon-15{
	background-image:url(https://www.helpr.in/images/ac.png);
}
.icon-19{
	background-image:url(https://www.helpr.in/images/vehiclecare.png);
}
.icon-20{
	background-image:url(https://www.helpr.in/images/painting.png);
}
.icon-21{
	background-image:url(https://www.helpr.in/images/laundry.png);
}
.icon-22{
	background-image:url(https://www.helpr.in/images/interiordesign.png);
}
.icon-23{
	background-image:url(https://www.helpr.in/images/automation.png);
}
.icon-24{
	background-image:url(https://www.helpr.in/images/computer_repair.png);
}
/* No CSS3 support: none */










  
.recpies{
    height: auto;
}
.recpies center h1{
    font-size: 36px;
    font-family: 'Kamala', cursive;
    color: #4d4d4d;
    font-weight: bold;
}
.lines{
    width: 100px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 31;
}

.line1{
    width: 100px;
    height: .1px;
    background-color:slategray;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.line2{
    width: 75px;
    height: .1px;
    background-color:slategray;
    margin-top: 15px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.line4{
    width: 30px;
    height: .1px;
    background-color:slategray;
    position: relative;
    bottom: 10px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.recpies-collections{
  height: 400px;  
}
.collection-header{
    font-size: 25px;
    font-weight: bolder;
    font-family: initial;
    align-items: center;
}

.recpies-collections ul a li{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    display: inline-block;
    color: #fff;
    background-color: #4d4d4d;
    text-align: center;
    align-items:initial;
    font-size: 18px;
    font-family: 'Kamala',cursive;
}

.recpies-img{
    width: 100%;
    height: 200px;
    float: left;
}
.recpies-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
}
.recpies-img img:hover{
    opacity: .4;
    transition: .1s ;
}
.recpies-img time{
    position: relative;
    z-index: 3;
    font-size: 12px;
    font-family: cursive;
    color:blue;
    background-color: darkgray;
    top: -12%; left:80%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
}
.recpies-text h3{
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
}
.recpies-text p{
    font-size: 17px;
    font-family:'Playfair Display', serif;
    color: grey;
}
.more-recpies{
    width: 100%;
    height: auto;
    text-align: center;    
}
.more-recpies a{
    color: darkmagenta;
    font-size: 18px;
    font-family: cursive;

}
.check-videos{
    text-align: center;
}
.check-videos div iframe{
    width: 100%;
    height: 250px;
    border-radius: 2px;
}
.check-videos div button{
    width: 150px;
    height: 50px;
    background-color:  rgba(237, 182, 84, 1);
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 2px;
    position: relative;
    bottom: 10%;
    font-family: cursive;
}
.check-videos div h3{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}
.get-touch{
    margin-top: 100px;
}
.get-touch center h1{
    font-size: 36px;
    font-family: 'Kamala', cursive;
    color: #4d4d4d;
    font-weight: bold;
}
.form-part{
    width: 100%;
    height: 80vh;
    border-radius: 4px;
}
.form-part img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact{
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.get-touch form{
   text-align: center;
   position: relative;
   top: 25%;
}
.get-touch input{
    width: 25%;
    height: 50px;
    font-size: 15px;
    font-family: serif;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .5px solid #fff;
    color:#fff;
}
.get-touch input,textarea:focus{
    outline: .3px solid transparent;
}
.get-touch textarea{
    width: 50%;
    height: 150px;
    margin-top: 20px;
    font-size: 15px;
    font-family: serif;
    border-radius: 4px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .5px solid #fff;
    color:#fff;
}
.get-touch ::placeholder{
    color: #fff;
    text-align: left;
    font-size: 18px;
}

.get-touch button{
    width: 18%;
    height: 40px;
    border: .5px solid #ecb02c;
    background-color:  rgba(237, 182, 84, 1);
    margin-top: 20px;
    color: white;
    font-family: serif;
    font-size: 18px;
}

footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    height: 63.6vh;
    margin-top: 250px;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta h1{
    color:#f7f7f7;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
.footer-bottom{
    height: 15vh;
    background-color: #4e6e85;
    opacity: .8;
    /* position: relative; */   
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom  p{
    font-size: 24;
    color: #f7f7f7;
    font-weight: bolder;
}
.footer-bottom pre{
    float: right;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-130%,-50%);    
    color: #f7f7f7;
}
.footer-bottom pre a{
    color: #f7f7f7;
}
@media screen and (max-width: 990px){
    .header-left{
        display: none;
    }
    .recpies-img{
        margin-top: 50px;
    }
    footer{
        height: 60vh;
    }
    .footer-down{
        padding-top: 100px;
    }
    footer.footer-section {
        height: auto;
        max-height:140vh;
    }
    
} 
