*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
    overflow-x: hidden;
}
.offcanvas-menu-wrapper {
  display: none;
}
.main-menu ul li {
  list-style-type: none;
  display: block;
}

.main-menu ul li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.main-menu ul li a:hover {
  color: #2cbdb8;
}
.main-menu h1{
 font-size: 30px;
 font-family: initial;
 font-weight: bolder;
 
}
.main-menu h1 a{
 color: black;
 text-decoration: unset;
}
.logo a {
  color: inherit;
  font-family: initial;
  font-size: 32px;
  text-decoration: none;
}
.logo a:hover{
  transition: .2s;
  text-decoration: unset;
}
#navbar {
  background-color: rgb(255, 255, 255)!important;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
  border-bottom: .1px solid lightblue;

}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 88%;

}
.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#menu{
  float: right;
}
#menu ul {
  float: right;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} 
#menu li {
  display: inline-block;
}

#menu li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#menu li a:hover {
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

#menu li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#menu li a:before {
  left: 0;
  transition: 0.5s;
}

#menu li a:after {
  background: rgb(13, 26, 38);
  right: 0;
}

#menu li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}
.recpies{
    height: auto;
}
.recpies center h1{
    font-size: 36px;
    font-family: initial;
    color: #4d4d4d;
    font-weight: bold;
}
.lines{
    width: 100px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.line1{
    width: 100px;
    height: .1px;
    background-color:slategray;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.line2{
    width: 75px;
    height: .1px;
    background-color:slategray;
    margin-top: 15px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.line4{
    width: 30px;
    height: .1px;
    background-color:slategray;
    position: relative;
    bottom: 10px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.recpies-collections{
  height: 400px;  
}
.collection-header{
    font-size: 25px;
    font-weight: bolder;
    font-family: initial;
    align-items: center;
}

.recpies-collections ul a li{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    color: #fff;
    background-color: #4d4d4d;
    text-align: center;
    align-items:initial;
    font-size: 18px;
    font-family: initial;
}

.recpies-img{
    width: 100%;
    height: 200px;
    float: left;
}
.recpies-img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 4px;
    cursor: pointer;
}
.recpies-img img:hover{
    opacity: .4;
    transition: .5s;
}
.recpies-img time{
    position: relative;
    z-index: 3;
    font-size: 12px;
    font-family: cursive;
    color:blue;
    background-color: darkgray;
    top: -12%; left:80%;
    transform: translate(-50%,-50%);
    border-radius: 2px;
}
.recpies-text h3{
    font-size: 25px;
    font-family: 'Slabo 27px', serif;
    font-weight: bolder;
}
.recpies-text p{
    font-size: 17px;
    font-family:'Playfair Display', serif;
    color: grey;
}
.recpies-blog{
  height: 430px;
  overflow-y: scroll;
}
.more-recpies{
    width: 100%;
    height: auto;
    text-align: center;    
}
.more-recpies a{
    color: rgb(22, 63, 77);
    font-size: 18px;
    font-family: initial;
    

}
.check-videos{
    text-align: center;
}
.check-videos div iframe{
    width: 100%;
    height: 250px;
    border-radius: 2px;
}
.check-videos div button{
    width: 150px;
    height: 50px;
    background-color:  rgba(237, 182, 84, 1);
    color: white;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 2px;
    position: relative;
    bottom: 10%;
    font-family: cursive;
}
.check-videos div h3{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    bottom: 20px;
}
.get-touch{
    margin-top: 100px;
}
.get-touch center h1{
    font-size: 36px;
    font-family: initial;
    color: #4d4d4d;
    font-weight: bold;
}
.form-part{
    width: 100%;
    height: 80vh;
    border-radius: 4px;
    background: url('https://s3-us-west-2.amazonaws.com/px3fr/upload/2013/large/1-55011-15_PX3_Shirish-Sen_Sagar-Ratna_Podi-Idli.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.form-part img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact{
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}
.get-touch form{
   text-align: center;
   position: relative;
   top: 25%;
}
.get-touch input{
    width: 25%;
    height: 50px;
    font-size: 15px;
    font-family: serif;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .5px solid #fff;
    color:#fff;
}
.get-touch input,textarea:focus{
    outline: .3px solid transparent;
}
.get-touch textarea{
    width: 50%;
    height: 150px;
    margin-top: 20px;
    font-size: 15px;
    font-family: serif;
    border-radius: 4px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .5px solid #fff;
    color:#fff;
}
.get-touch ::placeholder{
    color: #fff;
    text-align: left;
    font-size: 18px;
}

.get-touch button{
    width: 18%;
    height: 40px;
    border: .5px solid #ecb02c;
    background-color:  rgba(237, 182, 84, 1);
    margin-top: 20px;
    color: white;
    font-family: serif;
    font-size: 18px;
}

footer.footer-section {
    background: rgba(0, 0, 0, 0) url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80") no-repeat scroll left top / cover;
    padding: 60px 0 50px;
    height: auto;
    margin-top: 250px;
}
.bg-with-black {
    position: relative;
}
.footer-top-section {
    margin: 0 0 47px;
}
.single-fta > img {
    margin: 0 0 7px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta ul.fta-list li, .single-fta ul.fta-list li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
}
.single-fta ul.fta-list {
    list-style: outside none none;
    padding-left: 0;
}
.single-fta h1{
    color:#f7f7f7;
}
.fta-title {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 20px;
}

.fba-links {
    text-align: right;
}

.fba-links ul li a {
    color: #e5e5e5;
    display: block;
    font-size: 14px;
    letter-spacing: 0;
}
.fba-links ul {
    list-style: outside none none;
    padding: 0;
}
.fba-links ul li {
    display: inline-block;
    margin-left: 28px;
}
.fba-copyright p {
    color: #aaaaaa;
    line-height: 30px;
}
.footer-bottom{
    height: 15vh;
    background-color: #4e6e85;
    opacity: .8;
    /* position: relative; */   
    display: flex;
    justify-content: center;
    align-items: center;
}
footer center p{
    font-size: 24;
    color: #f7f7f7;
    font-weight: bolder;
}
footer center p a{
    color: #f7f7f7;
}
.scrollTop {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: fixed;
  right: 6.5%;
  bottom: 10px;
  background-color:rgba(1, 27, 36,1);
  opacity: 0;
  transition: all 0.6s ease-in-out 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollTop i {
  font-size: 18px;
  color: #fff;
}














 /*responsivity*/
@media(max-width: 800px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }
  .nav-wrapper ul{
    display: none;
  }

  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  } 

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  } @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  } @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  } @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }

  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}
@media only screen and (max-width: 991px) {
  .offcanvas-menu-overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 98;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .offcanvas-menu-overlay.active {
    visibility: visible;
  }
  .offcanvas-menu-wrapper {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    z-index: 20000;
    background: #ffffff;
    text-align: center;
    overflow-y: auto;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 50px 30px 30px 30px;
    display: block;
  }
  .offcanvas-menu-wrapper.show-offcanvas-menu-wrapper {
    left: 0;
    opacity: 1;
    visibility: visible;
  }
  .offcanvas-menu-wrapper .canvas-close {
    font-size: 22px;
    width: 30px;
    height: 30px;
    border: 1px solid #19191a;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
  
  .offcanvas-menu-wrapper .main-menu {
    text-align: left;
  }
  .offcanvas-menu-wrapper .main-menu ul li {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
  }
  .offcanvas-menu-wrapper .main-menu ul li:last-child {
    border-bottom: none;
  }
  .offcanvas-menu-wrapper .main-menu ul li a {
    font-size: 14px;
    color: #19191a;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    padding: 6px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .offcanvas-menu-wrapper .main-menu ul li a:hover {
    color: #2cbdb8;
  }
  .recpies-blog{
    margin-top: 100px;
  }
  .footer-section{
    height:auto;
    }
 }
